# Ignore everything
*

# Whitelist (Do not ignore)
!README.md
!docs/
!docs/*
!.gitignore

# Security & Environment
.env
.env.*
!.env.template
!.env.example

# Python
__pycache__/
*.py[cod]

# IDE
.vscode/

